fastapi
uvicorn[standard]
python-multipart
pillow
requests
numpy
pandas
scikit-learn
beautifulsoup4
aiohttp
python-jose[cryptography]
python-dotenv
jinja2
pytesseract
opencv-python-headless
transformers
torch
easyocr
